.about{
    padding: 5rem 0;
}
.about-content p{
    line-height: 25px;
    color: var(--text-color);
}
.about-content .btnAbout{
    background-color: var(--primary);
    color: #fff;
}
.about-content h3{
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    color: var(--title-color);
    margin-bottom: 1rem;
}
.about-box-img{
    margin-top: 48px;
}
@media (min-width: 576px){
    .about-box-img{
        margin-top: 0;
        padding-left: 48px;
    }
    .about-content{
        padding-right: 48px;
    }
}
.about-image{
    width: 100%;
    height: auto;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.about-image:hover{
    transform: translateY(-8px);
    transition: 0.3s ease-in-out;
}