.backtotop{
    display: block;
    text-align: center;
    width: 50px;
    height: 45px;
    border-radius: 4px;
    background: var(--primary);
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 0;
}
.backtotop .fa-solid{
    color: #fff;
    line-height: 45px;
    font-size: 22px;
}
.cd-top--is-visible{
    opacity: 0.7;
}