.feedback {
    background: linear-gradient(to right, var(--bgr-color), rgba(255, 255, 255, 0.77)), url('../image/b2.jpg');
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.feedback__content {
    padding-bottom: 3rem;
    margin-top: 45px;
    max-width: 1200px;
    margin: auto;
}

.feedback .feedback__carousel-item__content {
    background: var(--bgr-color);
    border-radius: var(--card-curve);
    max-width: 95%;
    margin: 0 auto;
    display: grid;
    position: relative;
    gap: 50px;
    padding: 2rem;
    grid-template-columns: auto 1fr;
}

.feedback .feedback__carousel-item__content i {
    position: absolute;
    top: -4%;
    left: 50%;
    color: var(--title-color);
    opacity: 0.2;
    font-size: 37px;
    transform: translateX(-50%);
}

.feedback .feedback__carousel-item__content__img {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    display: block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid var(--primary);
}

.feedback .feedback__carousel-item__content__text p {
    font-size: 18px;
    line-height: 26px;
    color: var(--title-color);
    margin-top: 1rem;
    position: relative;
}

.feedback .feedback__carousel-item__content__text h4 {
    font-size: 18px;
    color: var(--primary);
    font-weight: 400;
    margin-top: 1.5rem;
}

.feedback .feedback__carousel-item__content__text small {
    font-size: 13px;
    color: var(--text-color);
    line-height: 26px;
}

.feedback .owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 5px;
    margin: 5px 5px;
    background: var(--bgr-color);
    display: block;
    border: none;
    transition: opacity .2s ease;
    border-radius: 0;
    position: relative;
}

.feedback .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary);
}

.feedback .owl-dots {
    bottom: -55px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 100px) and (max-width: 480px) {
    .feedback .feedback__carousel-item__content {
        gap: 10px;
        padding: 2rem 1rem;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 100px) and (max-width: 667px) {
    .feedback .feedback__carousel-item__content__text {
        text-align: center;
    }
}

@media (min-width: 480px) and (max-width: 667px) {
    .feedback .feedback__carousel-item__content {
        gap: 30px;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 667px) and (max-width: 900px) {
    .feedback .feedback__carousel-item__content {
        padding: 2rem;
    }
}

@media (min-width: 667px) {
    .feedback .feedback__carousel-item__content i {
        left: -24px;
    }
}

@media (min-width: 667px) and (max-width: 992px) {
    .feedback .feedback__carousel-item__content__text {
        margin-top: 1rem;
        padding: 0;
    }
}