/*=============================================
=                   Global                   =
=============================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Nunito', sans-serif;
    line-height: 1.15;
    background-color: var(--bgr_color);
}

:root {
    --bgr_color: #fff;
    --primary: #dc4f72;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --light-bg-color: #F7F9FC;
    --card-curve: 6px;
    --border-color: #eee;
}

.__title {
    text-align: center;
}

.__title h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.__title h2 {
    font-size: 32px;
    line-height: 42px;
    color: var(--title-color);
    font-weight: 700;
}

.__title p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
}

/*============  End of Global  =============*/
/*=============================================
=                   General                   =
=============================================*/
.general {
    background-color: var(--light-bg-color);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.general__image {
    position: sticky;
    top: 80px;
}

.general__image img {
    border-radius: var(--card-curve);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.general__content__col--edit {
    margin-top: 3rem;
}

.general__list ul {
    list-style-type: none;
}

.general__list input[type="checkbox"] {
    display: none;
}

.general__list ul li {
    margin-bottom: 15px;
    overflow: hidden;
}

.general__list ul li label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px 50px 25px 20px;
    margin-bottom: 0;
}

.general .card {
    border-color: var(--border-color);
    border-radius: var(--card-curve);
}

.general i {
    position: absolute;
    top: 20px;
    right: 25px;
}

.general i::after {
    content: '';
    display: block;
    background-color: var(--title-color);
    width: 3px;
    height: 9px;
    transform: rotate(45deg);
    transition: .3s;
}

.general i::before {
    content: '';
    display: block;
    background-color: var(--title-color);
    width: 3px;
    height: 9px;
    transform: translate(-5px, 9px) rotate(135deg);
    transition: .3s;
}

.general__list__header {
    font-size: 18px;
    line-height: 30px;
    display: block;
    color: var(--title-color);
}

.general__list__text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24.5px;
    opacity: 0;
    transform: translateY(50px);
    max-height: 0;
    transition: .3s;
}

.general__list input:checked+label .general__list__text {
    opacity: 1;
    transform: translateY(0);
    max-height: none;
    margin-top: 14px;
}

.general__list input:checked+label i::before {
    transform: translate(0, 9px) rotate(135deg)
}

.general__list input:checked+label i::after {
    transform: translate(-4px, 0) rotate(45deg);
}

/*============  End of General  =============*/
/*=============================================
=                   Feature                   =
=============================================*/
.featured {
    padding: 3rem 0;
    margin-bottom: 1.5rem;
}

.featured__title {
    text-align: center;
}

.featured__title h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.featured__title h2 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
}

.featured__content {
    margin-top: 3rem;
}

.featured__content input[type="radio"] {
    display: none;
}

.featured__content label {
    display: block;
}

.featured__content .featured__tabs div {
    max-height: 0;
    overflow: hidden;
}

.featured__tabs input:checked+label+div {
    max-height: none;
}

/*============  End of Feature  =============*/
/*=============================================
=                   Responsive                   =
=============================================*/
@media (min-width: 576px) {}

@media (min-width: 576px) and (max-width: 667px) {
    .__title h2 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media (min-width: 668px) and (max-width: 800px) {
    .__title h2 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (min-width: 768px) {
    .general__content__col--edit:last-child {
        padding-left: 3rem;
    }
}

@media (min-width: 801px) {
    .__title h2 {
        font-size: 46px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

/*============  End of Responsive  =============*/