:root{
    --bg-color: #fff;
    --text-color:#5a5a5a;
    --title-color: #2C3038;
    --primary: #dc4f72;
    --light-bg-color:#f7f9fc;
    --border-color:#eee;
    --card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}